Package: io.c0ldra1n.mitsuha-music
Name: Mitsuha-Music
Depends: mobilesubstrate
Version: 0.0.1
Architecture: iphoneos-arm
Description: An awesome MobileSubstrate tweak!
Maintainer: c0ldra1n
Author: c0ldra1n
Section: Tweaks
